* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50vh;
  background-image: url(../img/bg.jpg);
  background-position: 50% 50%;
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin-top: 20px;
  background-color: $tertiary-color;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  text-align: center;
}
